ul{
	font-family:FZFengYaSongS-GB;
	position:fixed;
	margin:0px;
	padding:0px 0px;
}
li{
	text-align:left;
	padding-left:30px;
	color:#fd7b01;
	list-style:none;
	margin:0px;
	width:150px;
	height:40px;
	line-height:40px;
	font-family:heading_CN;
}
#nav_active{
	color:#290a59;
	width: 175px; 
	height: 50px;
	position:relative;
}
#nav_active:before{
	content: ""; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width:150px;
	border-bottom: 25px solid #fd7b01;
	border-right: 25px solid transparent; 
	z-index:-1;
}
#nav_active:after{
	content: ""; 
	position: absolute; 
	top: 25px; 
	left: 0; 
	width:150px;
	border-top: 25px solid #fd7b01;
	border-right: 25px solid transparent; 
	z-index:-1;
}
div.guide{
	font-family:FZFengYaSongS-GB;
	margin:0 auto;
	text-align:center;
	border-top: 30px solid #fd7b01; 
	border-right: 30px solid transparent; 
	border-left: 30px solid transparent;
	width:100px;
	height:30px;
	line-height:0px;
}

